$ff-primary: 'proxima-nova', serif;

$fw: (
	light: 300,
	regular: 400,
	bold: 700
);

$fs: (
	hero-xl: 4.5rem,
	hero-lg: 3.375rem,
	hero-md: 3rem,
	hero-sm: 2.625rem,
	hero-xs: 1.333rem,
	h1: 2.25rem,
	h2: 2rem,
	h3: 1.6875rem,
	h4: 1.5rem,
	h5: 1.3125rem,
	h6: 1.125rem,
	p: 1.125rem,
	caption: .875rem,
	small: 1rem
);


// Typography
html {
	font-size: 12px;
	@media screen and (min-width: $small) {
		font-size: 14px;
	}
	@media screen and (min-width: $medium) {
		font-size: 16px;
	}
}
h1, h2, h3, h4, h5, h6,
.hero-xl, .hero-lg, .hero-md, .hero-sm, .hero-xs,
p, .small, a, span {
	font-family: $ff-primary;
	font-weight: fw(light);
}

a {
	font-size: fs(p);
	text-decoration: none;
	color: color(blue-secondary);
	border: none;
	outline: none;
	&:focus {
		outline: none;
	}
	&:hover {
		outline: none;
	}
	&:visited {
		outline: none;
	}
}

strong { font-weight: fw(bold); }

.hero-xl { font-size: fs(hero-xl); }
.hero-lg { font-size: fs(hero-lg); }
.hero-md { font-size: fs(hero-md); }
.hero-sm { font-size: fs(hero-sm); }
.hero-xs {
	font-size: fs(hero-xs);
	display: block;
	color: color(white);
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
}

h1 { font-size: fs(h1); color: color(black); }
h2 { font-size: fs(h2); }
h3 { font-size: fs(h3); }
h4 { font-size: fs(h4); }
h5 { font-size: fs(h5); }
h6 { font-size: fs(h6); }

p {
	font-size: fs(p);
	line-height: 1.35;
}
// Forms
label, input, select, option, textarea { font-size: fs(h5); }

.quote {
	text-align: center;
	font-weight: fw(light);
	p { font-size: fs(h3); line-height: 1.6; }
	.author { font-size: fs(p); margin-top: 20px; display: block; }
	@media screen and (min-width: $medium) {
		p { font-size: fs(h1); }
	}
}