$colors: (
	primary-blue: #4da8c7,
	secondary-blue: #1c7ea0,
	tertiary-blue: #222130,
	turquoise: #43bfbb,
	orange: #ec8923,
	white: #f4f7f8,
	seafoam: #d4e7d3,
	darkgray: #303c40,
	mid-gray: #586b7e,
	primary-gray: #e4ebef,
	secondary-gray: #bdc3c7,
	black: #231f20,
	off-white: #eaf0f2,
	red: #b71616
);