$colors: (
	blue-primary: #44c8f9,
	blue-secondary: #01aae9,
	blue-tertiary: #048fc3,
	orange-primary: #febc75,
	orange-secondary: #f59834,
	orange-tertiary: #e3831c,
	white: #f9fafc,
	light-gray-primary: #f2f4f7,
	light-gray-secondary: #e8ebf1,
	dark-gray-primary: #6a7078,
	dark-gray-secondary: #474e58,
	black: #1a1f25,
	mint-primary: #e8f4e7,
	mint-secondary: #d3e7d2,
	mint-tertiary: #b3cab2,
	red-primary: #f76b58,
	red-secondary: #f04730,
	red-tertiary: #d42912
);

$trns-dur: .4s;

$small: 640px;
$medium: 768px;