.excerpt {
  &-container {
    overflow: hidden;
  }
  width: 100%;
  max-width: rem-calc(687);
  padding-left: rem-calc(16);
  padding-right: rem-calc(16);
  margin-left: auto;
  margin-right: auto;
  // @include span(8 of 16 no-gutters);
  // @include pre(4 of 16);
  &--center {
    text-align: center;
  }
  &--left {
    text-align: center;
    margin-left: auto;
    @include respond-to(md) {
      text-align: left;
      margin-left: 0;
    }
  }
  &-title {
    margin-bottom: rem-calc(25);
    @include respond-to(sm) {
      margin-bottom: rem-calc(35);
    }
    @include respond-to(md) {
      margin-bottom: rem-calc(30);
    }
  }
  &-content p {
    margin-bottom: rem-calc(25);
    &:last-of-type { margin-bottom: 0; }
  }
}
