---
id: home
title: Home
---
<script src="{{assets}}/js/pace.min.js"></script>
<div id="loading"></div>
<main role="main" id="{{title}}">
    <div id="landingHero" class="hero full-height">
        <div id="heroSlide1" class="hero-slide full-height light">
            <div class="hero-content medium-5 medium-offset-7">
                <h2 class="h3">AIGA 100 Show</h2>
                <p>We're honored to be able to work with AIGA Salt Lake City building the collateral for this year's 100 Show. Submit your work, get tickets or send in your donation!
                </p>
                <a class="h3 circlenext" href="making-it-awesome-with/aiga/">See the project <i class="next-circle"></i></a>
            </div>
        </div>
        <div id="heroSlide2" class="hero-slide full-height dark">
            <div class="hero-content medium-6 center-block text-center">
                <h2 class="h3">We Build Apps</h2>
                <p>We take pleasure in bringing order to complexity and crafting simple interactions based on beautiful designs.</p>
            </div>
        </div>
        
        <div id="heroSlide3" class="hero-slide full-height dark">
            <div class="hero-content medium-6 center-block text-center">
                <h2 class="h3">We Build Brands</h2>
                <p>It's not just about a logo. We create cohesive identities that communicate the culture, character and values of a brand.</p>
            </div>
        </div>
        
    </div>
    
    <div class="grad-down quote">
        <div class="row padding-lg">
            <div id="homepage-logos">
                <div class="logo-slide">
                    <img src="assets/img/home-logos/brightbytes.png" alt="BrightBytesz">
                </div>
                <div class="logo-slide">
                    <img src="assets/img/home-logos/xbox.png" alt="Xbox">
                </div>
                <div class="logo-slide">
                    <img src="assets/img/home-logos/justfamily.png" alt="Just Family App Logo">
                </div>
                <div class="logo-slide">
                    <img src="assets/img/home-logos/littlecaesars.png" alt="Little Caesars Pizza logo">
                </div>
                <div class="logo-slide">
                    <img src="assets/img/home-logos/microsoft.png" alt="Microsoft">
                </div>
                <div class="logo-slide">
                    <img src="assets/img/home-logos/asurion.png" alt="Asurion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-10 medium-offset-1 columns">
                <p class="quote-text">
                    Underbelly constantly impressed us with both their craftsmanship and creativity. We did better work because we worked with them.
                </p>
                <span class="quote-author">
                    - Nate Quigley
                </span>
            </div>
        </div>
        <div class="row padding-md">
            
        </div>
        
    </div>

    <div id="team-photos">
        <div class="team-wrap">
            <a href="#!" id="egg">&nbsp;</a>
            <span id="teamPhotoImg"></span>
        </div>
    </div>
    <a href="making-it-awesome" class="row-fluid padding-lg blue see-our-work">
        <span class="circlenext h3">See our work<i class="next-circle"></i></span>
    </a>
    


</main>
{{> scripts-default }}
<script src="../assets/js/homepage.min.js"></script>

