---
id: home
title: Home
theme: light
---
<script src="/{{assets}}/js/pace.min.js"></script>
<div id="loading"></div>
<main role="main" id="{{title}}">
    <div id="landingHero" class="hero full-height">
        <div class="hero-background"></div>
        <div id="hero-icons" class="row">
            <div class="medium-8 medium-offset-2 columns">
                <div class="row">
                    <div class="small-4 columns hero-icon">
                        <i class="icon-header-icon-ux"></i>
                        <span class="header-icon-text">UX</span>
                    </div>
                    <div class="small-4 columns hero-icon">
                        <i class="icon-header-icon-brand"></i>
                        <span class="header-icon-text">Branding</span>
                    </div>
                    <div class="small-4 columns hero-icon">
                        <i class="icon-header-icon-dev"></i>
                        <span class="header-icon-text">Dev</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="hero-link">
            <div class="blue">
                <a href="/making-it-awesome/" class="circlenext h3">See our work<i class="next-circle"></i></a>
            </div>
        </div>
    </div>
    
    <div class="grad-down quote">
        <div class="row padding-lg">
            <div id="homepage-logos">
                <div class="logo-slide">
                    <img src="/assets/img/home-logos/brightbytes.png" alt="BrightBytesz">
                </div>
                <div class="logo-slide">
                    <img src="/assets/img/home-logos/xbox.png" alt="Xbox">
                </div>
                <div class="logo-slide">
                    <img src="/assets/img/home-logos/justfamily.png" alt="Just Family App Logo">
                </div>
                <div class="logo-slide">
                    <img src="/assets/img/home-logos/littlecaesars.png" alt="Little Caesars Pizza logo">
                </div>
                <div class="logo-slide">
                    <img src="/assets/img/home-logos/microsoft.png" alt="Microsoft">
                </div>
                <div class="logo-slide">
                    <img src="/assets/img/home-logos/asurion.png" alt="Asurion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-8 medium-offset-2 columns">
                <p id="home-quote">
                    We’re artists and craftsmen who love to create sophisticated strategies, innovative user experiences, and enduring brands. <br>
                    We don’t stop tinkering until the work inspires.
                </p>
            </div>
        </div>
        <div class="row padding-md">
            
        </div>
        
    </div>

    <div id="team-photos">
        <div class="team-wrap">
            <a href="#!" id="egg">&nbsp;</a>
            <span id="teamPhotoImg"></span>
        </div>
    </div>
    <a href="/all-ears/" class="row-fluid padding-lg blue work-with-us">
        <span class="circlenext h3">Work with us<i class="next-circle"></i></span>
    </a>
    


</main>
{{> scripts-default }}
<script src="../assets/js/homepage.min.js"></script>

