---
title: Thanks!
id: questionnaire-thanks
---

<main role="main" id="{{id}}-main">
  <div class="row">
    <div class="medium-12 columns">
      <h2 class="h1 padding-top-120">
        Thank you!
      </h2>
      <?php
        if($_GET["identity"] === "") echo "<h4>You should be hearing from us soon!</h4>"
      ?>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns padding-md">
      <a href="/" class="button radius">Go back home</a>
    </div>
  </div>
</main>

{{> scripts-default }}
