---
title: Work
id: work
heading: 'Yo, Assemble!'

---
<div class="header-spacer">
    
</div>

<main role="main" id="{{id}}-main">
    <div id="work-header">
        <h1 class="h2 text-center">Our Work</h1>
    </div>
    <div id="case-studies">
    </div>
    <div id="work-tiles" class="row-fluid row">
        <div class="large-12">
            <div class="row-fluid">
                <div id="aiga-tile" class="large-6 columns height-2 tile caseStudyLink" data-href="/making-it-awesome-with/aiga/">
                    <div class="title center-x dark">
                        <h5>AIGA 100 Show</h5>
                        <span class="pill-btn dark hollow">View Project</span>
                    </div>
                </div>
                <div class="large-6 columns height-2">
                        <div class="row caseStudyLink" id="justfamily-tile" data-href="/making-it-awesome-with/justfamily/">
                            <div class="image small-6 columns height-1 tile">
                            </div>
                            <div class="description medium-6 columns height-2 tile arrow-left">
                                <div class="title">
                                    <h5>JustFamily</h5>
                                    <div class="pill-btn light">View Project</div>
                                </div>
                            </div>
                        </div>
                        <div class="row caseStudyLink" id="traxion-tile" data-href="/making-it-awesome-with/traxion/">
                            <div class="description medium-6 columns height-2 tile arrow-right">
                                <div class="title">
                                    <h5>Traxion App</h5>
                                    <div class="pill-btn light">View Project</div>
                                </div>
                            </div>
                            <div class="image small-6 columns height-1 tile">
                            </div>
                        </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="medium-12 columns height-1 caseStudyLink" id="scb" data-href="http://saltcitybuilds.com">
                    <div class="row">
                        <div class="large-9 medium-6 small-12 columns tile image height-full-row">
                            
                        </div>
                        <div class="large-3 medium-6 small-12 description columns tile arrow-left">
                            <div class="row " id="scb-tile" >
                                <div class="medium-12 columns height-full-row-inner">
                                    <div class="title">
                                        <h5>Salt City Builds</h5>
                                        <div class="pill-btn light">View Project</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row-fluid">
                <div class="large-6 columns height-2">
                    <div class="row caseStudyLink" id="renttree-tile" data-href="/making-it-awesome-with/renttree/">
                        <div class="image small-6 columns height-1 tile">
                        </div>
                        <div class="description medium-6 columns height-2 tile arrow-left">
                            <div class="title">
                                <h5>RentTree</h5>
                                <span class="pill-btn light">View Project</span>
                            </div>
                        </div>
                    </div>
                    <div class="row caseStudyLink" id="nsac-tile" data-href="/making-it-awesome-with/nsac/">
                        <div class="description medium-6 columns height-2 tile arrow-right">
                            <div class="title">
                                <h5>North Seattle Alliance Church</h5>
                                <span class="pill-btn light">View Project</span>
                            </div>
                        </div>
                        <div class="image small-6 columns height-1 tile">
                        </div>
                    </div>
                </div>
                <div id="fluid-tile" class="large-6 columns height-2 tile caseStudyLink" data-href="/making-it-awesome-with/fluid/">
                    
                </div>
            </div>
            <div class="row-fluid">
                <div class="large-6 columns height-2 tile caseStudyLink" id="brightbytes-tile" data-href="http://www.brightbytes.net">
                    <div class="title center-x">
                        <h5>BrightBytes</h5>
                        <span class="pill-btn light">View Site</span>
                    </div>
                </div>
                <div class="large-6 columns height-1 tile">
                        <div class="row caseStudyLink" id="bdental-tile" data-href="/making-it-awesome-with/bountifuldental/">
                            <div class="image small-6 columns height-1 tile">
                            </div>
                            <div class="description medium-6 columns height-2 tile arrow-left">
                                <div class="title">
                                    <h5>Bountiful Dental</h5>
                                    <span class="pill-btn light">View Project</span>
                                </div>
                            </div>
                        </div>
                        <div class="row caseStudyLink" id="hive-tile" data-href="/making-it-awesome-with/hive/">
                            <div class="description medium-6 columns height-2 tile arrow-right">
                                <div class="title">
                                    <h5>Hive Checklist</h5>
                                    <span class="pill-btn light">View Project</span>
                                </div>
                            </div>
                            <div class="image small-6 columns height-1 tile">
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
    

    <div class="row-fluid dribbble-shots offwhite padding-lg">
        <h4 class="text-center">Work In Progress</h4>
        <div id="dribbble" class="large-10 large-offset-1"></div>
        <h6 class="text-center">
            <a href="http://www.dribbble.com/underbelly">Follow us on dribbble </a>
        </h6>
    </div>
    <div class="row-fluid padding-md work-with-us">
        <a class="circlenext white h3" href="/all-ears/">Work With Us<i class="next-circle"></i></a>
    </div>
</main>
{{> scripts-default }}
<script src="../assets/js/work.min.js"></script>