.dubai {
  position: relative;
  top: 0;
  left: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem-calc(600);
  transform: translateX(-50%);
  min-width: rem-calc(750);
  @media screen and (min-width: 425px) { margin-top: rem-calc(620); }
  @media screen and (min-width: 530px) { margin-top: rem-calc(520); }
  @include respond-to(xs) {
    margin-top: rem-calc(520);
    left: 0;
    transform: none;
  }
  @include respond-to(sm) { margin-top: rem-calc(480); }
  @include respond-to(md) {
    max-width: rem-calc(1200);
    margin-top: rem-calc(430);
  }
  @include respond-to(lg) { margin-top: rem-calc(350); }
  &__inner {
    position: relative;
    height: 0;
    padding-bottom: percentage(812.6 / 1440);
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
