.dubai {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem-calc(620);
  @media screen and (min-width: 425px) {
    margin-top: rem-calc(450);
  }
  @include respond-to(xs) {
    margin-top: rem-calc(320);
  }
  @include respond-to(sm) {
    margin-top: rem-calc(280);
  }
  @include respond-to(md) {
    max-width: rem-calc(1440);
    margin-top: rem-calc(160);
  }
  @include respond-to(lg) {
    margin-top: rem-calc(50);
  }
  &__inner {
    position: relative;
    height: 0;
    padding-bottom: percentage(756 / 1440);
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
