.features {
  padding-top: rem-calc(90);
  padding-bottom: rem-calc(90);
  position: relative;
  min-height: rem-calc(770);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+1,5275da+100 */
  background: #3023ae; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #3023ae 1%, #5275da 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #3023ae 1%,#5275da 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #3023ae 1%,#5275da 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#5275da',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  @include respond-to(sm) {
    min-height: rem-calc(880);
  }
  @include respond-to(md) {
    min-height: auto;
  }
  &__item {
    position: relative;
    max-width: rem-calc(1030);
    margin-left: auto;
    margin-right: auto;
    @include respond-to(md) {
      padding-left: 1rem;
    }
    @include respond-to(lg) {
      padding-left: 0;
    }
  }
  .excerpt {
    @include respond-to(md) {
      max-width: rem-calc(460);
    }
  }
  .excerpt-title, .excerpt-content p {
    color: color(white);
  }
  &-img {
    position: absolute;
    top: 100%;
    right: 50%;
    max-width: rem-calc(320);
    padding-top: rem-calc(40);
    padding-left: rem-calc(32);
    padding-right: rem-calc(32);
    transform: translateX(50%);
    @include respond-to(sm) {
      max-width: rem-calc(320);
      padding-left: 0;
      padding-right: 0;
    }
    @include respond-to(md) {
      top: 50%;
      right: 1rem;
      padding-top: 0;
      transform: translateY(-50%);
    }
    @include respond-to(lg) {
      right: 0;
    }
  }
}
