.campus-hero {
  position: relative;
  @include hero("../images/work/campus/hero.jpg");
  background-position: center bottom;
  height: rem-calc(213);
  //height: 45vh;
  @include respond-to(sm) {
    height: rem-calc(510);
    //height: 50vh;
  }
  @include respond-to(md) {
    background-position: center bottom;
    height: rem-calc(680);
    //height: 80vh;
  }
  @include respond-to(lg) {
    background-position: center bottom;
    height: rem-calc(960);
    //height: 80vh;
  }
}
