.campus-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: rem-calc(213);
  opacity: 0;
  transition: opacity 600ms ease;
  &--loaded {
    opacity: 1;
  }
  @include respond-to(sm) {
    height: rem-calc(510);
  }
  @include respond-to(md) {
    height: rem-calc(680);
  }
  @include respond-to(lg) {
    background-position: center center;
    height: rem-calc(720);
  }
  @media screen and (min-width: 1800px) {
    background-position: center 80%;
  }
}
