.illustrations {
  margin-top: rem-calc(80);
  @include respond-to(sm) { margin-top: rem-calc(160); }
  @include respond-to(lg) { margin-top: rem-calc(250); }
}
.illustration-image {
  position: relative;
  display: block;
  max-width: rem-calc(1024);
  margin-top: rem-calc(80);
  margin-left: auto;
  margin-right: auto;
  &__item {
    position: relative;
    display: block;
    transform: translateZ(0);
    &--one {
      opacity: 1;
    }
    &--two {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}
