$top: percentage(570 / 960);
.the-need {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 138px, 0);
  @include respond-to(sm) {
    transform: translate3d(-50%, 333px, 0);
  }
  @include respond-to(md) {
    transform: translate3d(-50%, 409px, 0);
  }
  @include respond-to(lg) {
    transform: translate3d(-50%, 570px, 0);
  }
  .excerpt {
    &-intrinsic {
      width: 40%;
      max-width: rem-calc(243);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: rem-calc(40);
      @include respond-to(md) {
        margin-bottom: rem-calc(80);
      }
      &__inner {
        position: relative;
        height: 0;
        padding-bottom: percentage(243.724 / 242.628);
        svg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// width: 242.628px;
//       height: 243.724px;
