.user-experience {
  margin-top: rem-calc(145);
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(80);
  @include respond-to(sm) {
    margin-top: rem-calc(125);
    padding-bottom: rem-calc(160);
  }
  @include respond-to(md) {
    margin-top: rem-calc(0);
    padding-bottom: rem-calc(340);
  }
  @include respond-to(lg) {
    margin-top: rem-calc(0);
    padding-bottom: rem-calc(270);
  }
}
.site-map {
  width: 100%;
  max-width: rem-calc(960);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem-calc(40);
  padding-left: 1rem;
  padding-right: 1rem;
  @include respond-to(sm) {
    margin-top: rem-calc(80);
  }
  @include respond-to(md) {
    width: 90%;
    max-width: rem-calc(1440);
    padding-left: 0;
    padding-right: 0;
  }
  text-align: center;
  padding: 1rem;
  svg {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
}
