%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
%align-center {
	margin-right: auto;
	margin-left: auto;
}
%text-center {
	text-align: center;
}
%grid-item {
	display: inline-block;
	vertical-align: top;
}