$ff-primary: 'proxima-nova', "Helvetica Neue", "Helvetica", sans-serif;
$fw: ( light: 300, regular: 400, bold: 700 );

html {
	font-size: 100%;
	color: color(black);
	font-family: $ff-primary;
	font-weight: fw(light);
}

a {
	text-decoration: none;
	border: none;
	outline: none;
	&:focus {
		outline: none;
	}
	&:hover {
		outline: none;
	}
	&:visited {
		outline: none;
	}
}

strong { font-weight: fw(bold); }

.hero-xl { font-size: rem-calc(56); font-weight: fw(light); }
.hero-lg { font-size: rem-calc(48); font-weight: fw(light); }
.hero-md { font-size: rem-calc(40); font-weight: fw(light); }
.hero-sm { font-size: rem-calc(36); font-weight: fw(light); }
.hero-xs { font-size: rem-calc(32); font-weight: fw(light); }
.h1      { font-size: rem-calc(28); font-weight: fw(light); }
.h2      { font-size: rem-calc(24); font-weight: fw(light); }
.h3      { font-size: rem-calc(20); font-weight: fw(light); }
.h4      { font-size: rem-calc(18); font-weight: fw(light); }
.h5      { font-size: rem-calc(16); font-weight: fw(light); }
.h6      { font-size: rem-calc(14); font-weight: fw(light); }
.p       { font-size: rem-calc(16); font-weight: fw(light); }
.small	 { font-size: rem-calc(16); font-weight: fw(light); }

@media screen and (min-width: 48em) {
	.hero-xl { font-size: rem-calc(64); }
	.hero-lg { font-size: rem-calc(56); }
	.hero-md { font-size: rem-calc(48); }
	.hero-sm { font-size: rem-calc(40); }
	.hero-xs { font-size: rem-calc(36); }
	.h1      { font-size: rem-calc(32); }
	.h2      { font-size: rem-calc(28); }
	.h3      { font-size: rem-calc(24); }
	.h4      { font-size: rem-calc(20); }
	.h5      { font-size: rem-calc(18); }
	.h6      { font-size: rem-calc(16); }
	.p       { font-size: rem-calc(18); }
}

@media screen and (min-width: 64em) {
	.hero-xl { font-size: rem-calc(72); }
	.hero-lg { font-size: rem-calc(64); }
	.hero-md { font-size: rem-calc(56); }
	.hero-sm { font-size: rem-calc(48); }
	.hero-xs { font-size: rem-calc(40); }
	.h1      { font-size: rem-calc(36); }
	.h2      { font-size: rem-calc(32); }
	.h3      { font-size: rem-calc(28); }
	.h4      { font-size: rem-calc(24); }
	.h5      { font-size: rem-calc(20); }
	.h6      { font-size: rem-calc(18); }
	.p       { font-size: rem-calc(18); }
}

@media screen and (min-width: 90em) {
	.hero-xl { font-size: rem-calc(72); }
	.hero-lg { font-size: rem-calc(64); }
	.hero-md { font-size: rem-calc(56); }
	.hero-sm { font-size: rem-calc(48); }
	.hero-xs { font-size: rem-calc(40); }
	.h1      { font-size: rem-calc(36); }
	.h2      { font-size: rem-calc(32); }
	.h3      { font-size: rem-calc(28); }
	.h4      { font-size: rem-calc(24); }
	.h5      { font-size: rem-calc(20); }
	.h6      { font-size: rem-calc(18); }
	.p       { font-size: rem-calc(18); }
}

h1       { @extend .h1; }
h2       { @extend .h2; }
h3       { @extend .h3; }
h4       { @extend .h4; }
h5       { @extend .h5; }
h6       { @extend .h6; }
p        { @extend .p; }

p { line-height: 1.5; }
.hero-xs {
	display: block;
	color: color(white);
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
}

.quote {
	text-align: center;
	font-weight: fw(light);
	p { font-size: fs(h3); line-height: 1.6; }
	.author { font-size: fs(p); margin-top: 20px; display: block; }
	@media screen and (min-width: $medium) {
		p { font-size: fs(h1); }
	}
}
