*, *:before, *:after {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
html {
	-webkit-font-smoothing: antialiased;
}
html,
body,
.app-wrapper {
	position: relative;
	height: 100%;
}
body {
	font-family: $ff-primary;
}