// font-sizes handled in typography partial

$border-style: 1px dashed rgba(color(dark-gray-primary), .5);

.form-wrapper {
	width: 100%;
	max-width: 620px;
	padding: 3.625rem;
	background-color: rgba(color(white), .8);
}
fieldset {
	text-align: center;
}
.form-group {
	width: 100%;
}
.fieldset-item {
	display: flex;
	align-items: baseline;
	margin-bottom: 1.875rem;
	text-align: left;
	&.no-flex {
		display: block;
	}
}
.label {
	padding-right: 10px;
	//padding-top: 4px;
}
.fieldset-title {
	padding-right: 10px;
	color: color(dark-gray-primary);
	font-weight: fw(regular);
	font-size: fs(h5);
	font-family: $ff-primary;
}
.label, .fieldset-title,
.input, .fieldset-group {
	//align-self: baseline;
}
.input,
.fieldset-group {
	flex: 1;
}
label {
	display: block;
	color: color(dark-gray-primary);
	font-size: fs(h5);
	font-weight: fw(regular);
	font-family: $ff-primary;
	&.about {
		margin-bottom: .5rem;
	}
}
input {
	width: 100%;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: $border-style;
	color: color(blue-secondary);
	padding-bottom: 5px;
	font-size: fs(h5);
	&:focus {
		outline: none;
		border-color: color(blue-secondary);
	}
	&.alert {
		border-color: red;
	}
}
textarea {
	resize: none;
	width: 100%;
	min-height: 100px;
	font-size: fs(h5);
	margin-bottom: 1rem;
	border: none;
	background: none;
	border-bottom: $border-style;
	color: color(blue-secondary);
	outline: none;
	&.alert { border-color: red; }
}
input[type="checkbox"],
input[type="radio"] {
	display: none;
}
.fieldset-group {
	label {
		width: 100%;
		padding: 10px;
		text-align: left;
		transition: 0.2s ease-in;
		cursor: pointer;
	}
}
input[type="checkbox"]:checked + label,
input[type="radio"]:checked +label,
input[type="checkbox"] + label:hover,
input[type="radio"] +label:hover {
	background: color(light-gray-primary);
	color: color(blue-secondary);
}
::-webkit-input-placeholder { color: rgba(color(dark-gray-primary), .6); }
:-moz-placeholder { color: rgba(color(dark-gray-primary), .6); }
::-moz-placeholder { color: rgba(color(dark-gray-primary), .6); }
:-ms-input-placeholder { color: rgba(color(dark-gray-primary), .6); }
button[type="submit"] {
	display: inline-block;
	padding: 10px;
	font-size: fs(h5);
	color: color(orange-secondary);
	background: transparent;
	outline: none;
	span {
		margin-right: 20px;
	}
	span, .icon {
		display: inline-block;
		vertical-align: middle;
	}
	svg {
		width: 25px;
		height: 25px;
		path { fill: color(orange-secondary); }
	}
}
dd, dt {
	margin: 0;
	padding: 0;
	font-family: $ff-primary;
	font-size: fs(h5);
}
dt {
	padding-right: 12px;
	background-image: url('../assets/img/global/arrow.png');
	background-size: 12px 7px;
	background-position: right center;
	background-repeat: no-repeat;
	text-align: left;
}
dd {
	position: absolute;
	width: 100%;
	max-width: 250px;
	top: 0;
	left: 0;
	background: color(white);
	border: 1px solid #b5bbc9;
	box-shadow: 0 1px 2px 0 rgba(color(black), .1);
	z-index: 1;
	border-radius: 5px;
}
.dropdown {
	position: relative;
	display: block;
	width: 100%;
	padding-right: 5px;
	padding-bottom: 5px;
	color: rgba(color(dark-gray-primary), .6);
	cursor: pointer;
	border-bottom: $border-style;
	&.alert { border-color: red; }
	&.chosen {
		color: color(blue-secondary);
	}
	li:first-of-type label {
		border-radius: 5px 5px 0 0;
	}
	li:last-of-type label {
		border-radius: 0 0 5px 5px;
	}
	dd { display: none; }
}
.dropdown-open {
	dd { display: block; }
}