$breakpoint: 768px;

[class*="grid-1"],
[class*="grid-2"],
[class*="grid-3"] {
	width: 100%;
}
[class*="grid-4"],
[class*="grid-5"] {
	width: 50%;
}

@media screen and (min-width: $breakpoint) {
	[class*="grid-2"] { width: 50%; }
  [class*="grid-3"] { width: 33.3%; }
  [class*="grid-4"] { width: 25%; }
  [class*="grid-5"] { width: 20%; }
}