$splat-primary: #fff;
$splat-secondary: #101012;
$splat-borders: #898c8c;
$splat-red: #B54A49;
$splat-xs: 760px;
$splat-sm: 940px;
$splat-md: 1200px;
$splat-lg: 1440px;
$splat-ss-width: 1300;
$splat-ss-height: 960;
$splat-ss-red: #C62A20;
$splat-font-family: 'Lato';
$splat-lato-light: 300;

.sizzling-platter {
  background-color: $splat-primary;
  font-family: $splat-font-family;
  font-weight: $splat-lato-light;

  @import "./sections/hero";
  @import "./sections/prep";
  @import "./sections/patterns";
  @import "./sections/ingredients";
  @import "./sections/designDev";
  @import "./sections/squarespace";

  [class$=container] {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include respond-to(xs) {max-width: $splat-xs;}
    @include respond-to(sm) {max-width: $splat-sm; padding-left: 0; padding-right: 0;}
    @include respond-to(md) {max-width: $splat-md;}
    @include respond-to(lg) {max-width: $splat-lg;}
  }

  h1 {
    font-family: $splat-font-family;
    font-weight: $splat-lato-light;
    text-transform: uppercase;
    margin-bottom: rem-calc(30);
    //@include respond-to(sm) { margin-bottom: rem-calc(50); }
  }

  p {
    font-weight: $splat-lato-light;
    font-family: $splat-font-family;
    max-width: rem-calc(650);
    color: #343030;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(25);
    padding-left: rem-calc(16);
    padding-right: rem-calc(16);
    &:last-of-type { margin-bottom: 0; }
    @include respond-to(sm) { padding-left: 0; padding-right: 0; }
  }

  .button {
    display: inline-block;
    text-align: center;
    color: #B54A49;
    border-radius: rem-calc(25);
    color: #fff;
    background-color: #C62A20;
    border-color: #C62A20;
    font-size: 24px;
    padding: 12px 36px;
    transition: 400ms ease;
    margin-top: rem-calc(40);
  }
}
