<div class="row-fluid">
    <div class="medium-12 columns padding-md caption text-center">
        <span class="h3">You might also like</span>
    </div>
</div>
<div class="row-fluid">
    {{#recs-id}}
        <div class="medium-3 columns cs-rec-tile" style="background-image: url({{this.img}});">
            <a href="{{this.link}}" alt="{{this.name}}">
                <span>
                    {{this.name}}
                </span>
            </a>
        </div>
    {{/recs-id}}
</div>
<div class="row"></div>