footer {
	position: relative;
	z-index: 1;
	background-color: color(dark-blue-primary);
	padding: 1.5rem;
}
.footer-logo {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}
.footer-social {
	width: 50%;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}
.social-item {
	display: inline-block;
	vertical-align: middle;
	margin-left: rem-calc(20);
	&:first-of-type { margin-left: 0; }
	@include respond-to(sm) { margin-left: rem-calc(30); }
}
