.design--dev {
  text-align: center;
  color: #6E6B6B;
  padding: rem-calc(50) 0;
  overflow: hidden;

  @include respond-to(sm) {
    background-image: url('../images/work/sizzling-platter/design-dev/bg-left-tablet.png'),
    url('../images/work/sizzling-platter/design-dev/bg-right-tablet.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0 50px, 100% 50px;
    padding-top: rem-calc(250);
  }

  @include respond-to(md) {
    background-image: url('../images/work/sizzling-platter/design-dev/bg-left-desktop.png'),
    url('../images/work/sizzling-platter/design-dev/bg-right-desktop.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0 25px, 100% 25px;
    padding-top: rem-calc(150);
    padding-bottom: rem-calc(120);

  }

  @include respond-to(lg) {
    background-image: url('../images/work/sizzling-platter/design-dev/design-dev-bg-left.png'),
    url('../images/work/sizzling-platter/design-dev/design-dev-bg-right.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 100% 0;
    padding-top: rem-calc(215);
  }
}
