.patterns {
  background: #F7F7F7;
  text-align: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  @include respond-to(sm) { padding: 150px 0; }

  &-container__item {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: rem-calc(229);
    margin-left: auto;
    margin-right: auto;
    @include respond-to(sm) { max-width: rem-calc(292); }
    &:first-of-type { margin-bottom: rem-calc(125); }
  }

  &-type {
    font-size: rem-calc(17);
    line-height: rem-calc(36);
    color: #93939A;
    @include respond-to(sm) {
      font-size: rem-calc(24);
    }
  }

  &-colors {
    text-align: center;
    font-size: 0;
    &__item {
      display: inline-block;
      width: rem-calc(30);
      height: rem-calc(30);
      border-radius: 50%;
      margin-right: rem-calc(6);
      margin-bottom: rem-calc(13);
      background-color: blue;
      @include respond-to(sm) {
        width: rem-calc(40);
        height: rem-calc(40);
        margin-right: rem-calc(8);
        margin-bottom: rem-calc(18);
      }
      &:nth-of-type(6n + 6) { margin-right: 0; }
      &--red-light    { background-color: #EC3428; }
      &--red-medium   { background-color: #C62A20; }
      &--red-dark     { background-color: #9B150C; }
      &--white-light  { background-color: #F7F7F7; border: 1px solid #E3DFDF; }
      &--white-medium { background-color: #EFEDED; }
      &--white-dark   { background-color: #E3DFDF; }
      &--gray-light   { background-color: #D2CCCC; }
      &--gray-medium  { background-color: #BBB4B4; }
      &--gray-dark    { background-color: #989292; }
      &--black-light  { background-color: #6E6B6B; }
      &--black-medium { background-color: #343030; }
      &--black-dark   { background-color: #090808; }
    }
  }

  &__item {
    position: absolute;
    z-index: 1;

    &:nth-child(2) {
      top: -75px;
      left: -100px;
      width: percentage(690 / 1440);
      max-width: 300px;
      @include respond-to(sm) { top: -125px; left: -25px; }
      @include respond-to(md) { left: 0; }
      @include respond-to(lg) { max-width: 350px; }
    }
    &:nth-child(3) {
      bottom: 0px;
      left: -100px;
      width: percentage(850 / 1440);
      max-width: 600px;
      @include respond-to(sm) { bottom: 25px; left: -125px; }
    }
    &:nth-child(4) {
      top: 15%;
      right: -75px;
      width: percentage(635 / 1440);
      max-width: 325px;
      @include respond-to(sm) { top: 10%; }
      @include respond-to(md) { right: 0; }
    }
  }
}
