---
title: Honored to Work With You
id: questionnaire
theme: light
---
<?php

//validate
if ($_POST) {
  echo 'Sent';
//send confirmation email (or insert into database, etc...)
  $EmailTo = "riley@underbelly.is";
  $Subject = "Honored To Work With You";
  $timelyManner = Trim(stripslashes($_POST['timelyManner']));
  $timelyMannerMore = ($_POST['timelyMannerMore'] == '') ? "No reason given." : $_POST['timelyMannerMore'];
  $satisfaction = Trim(stripslashes($_POST['satisfaction']));
  $timeSatisfaction = Trim(stripslashes($_POST['timeSatisfaction']));
  $reasoning = Trim(stripslashes($_POST['reasoning']));
  $reasoningMore = (empty($_POST['reasoningMore'])) ? "No reason given." : $_POST['reasoningMore'];
  $objectives = Trim(stripslashes($_POST['objectives']));
  $objectivesMore = (empty($_POST['objectivesMore'])) ? "No reason given." : $_POST['objectivesMore'];
  $futureProjects = Trim(stripslashes($_POST['futureProjects']));
  $recommend = Trim(stripslashes($_POST['recommend']));
  $whatElse = Trim(stripslashes($_POST['whatElse']));

  // prepare email body text
  $Body = "";
  $Body .= "Did we respond to your feedback in a timely manner?";
  $Body .= "\n";

  if ($timelyManner == "No") {
    $Body .= $timelyManner;
    $Body .= ", ";
    $Body .= $timelyMannerMore;
  } else {
    $Body .= $timelyManner;
  }

  $Body .= "\n\n";
  $Body .= "How satisfied are you with the design of the finished product?";
  $Body .= "\n";
  $Body .= $satisfaction;
  $Body .= "\n\n";
  $Body .= "How satisfied are you with the time it took to complete the project?";
  $Body .= "\n";
  $Body .= $timesSatisfaction;
  $Body .= "\n\n";
  $Body .= "Did we provide clear enough reasoning for our design choices?";
  $Body .= "\n";

  if ($reasoning == "No") {
    $Body .= $reasoning;
    $Body .= ", ";
    $Body .= $reasoningMore;
  } else {
    $Body .= $reasoning;
  }

  $Body .= "\n\n";
  $Body .= "Does the finished product meet your objectives?";
  $Body .= "\n";

  if ($objectives == "No") {
    $Body .= $objectives;
    $Body .= ", ";
    $Body .= $objectivesMore;
  } else {
    $Body .= $objectives;
  }

  $Body .= "\n\n";
  $Body .= "How likely are you to choose Underbelly for a future project?";
  $Body .= "\n";
  $Body .= $futureProjects;
  $Body .= "\n\n";
  $Body .= "How likely are you to recommend Underbelly to someone else?";
  $Body .= "\n";
  $Body .= $recommend;
  $Body .= "\n\n";
  $Body .= "What could we have done, if anything, to leave you feeling more satisfied with the finished product?";
  $Body .= "\n";
  $Body .= $whatElse;
  $Body .= "\n\n";

  // send email
  // send email
  $success = mail($EmailTo, $Subject, $Body, "From: <$EmailFrom>");

  // redirect to success page
  if ($success){
    print "<meta http-equiv=\"refresh\" content=\"0;URL=/questionnaire-thanks.php\">";
  }
  else{
    print "<meta http-equiv=\"refresh\" content=\"0;URL=/questionnaire-error.php\">";
  }
}

?>

<main role="main" id="{{id}}-main">
  <div id="work-header">
    <h1 class="h2 text-center">Honored To Work With You</h1>
  </div>
  <div id="questionnaire-area" class="padding-xl">
    <form id="questionnaire-form" method="post" action="" data-abide>

      <div class="row">
        <div class="large-12 columns">
          <label class="mb">Did we respond to your feedback in a timely manner?</label>
          <input type="radio" name="timelyManner" class="timelyManner" value="Yes" id="timelyMannerYes"><label for="timelyMannerYes">Yes</label>
          <input type="radio" name="timelyManner" class="timelyManner" value="No" id="timelyMannerNo"><label for="timelyMannerNo">No</label>
        </div>
      </div>

      <div class="timelyManner-more">
        <div class="row">
          <div class="large-12 columns">
            <label class="mb" for="timelyMannerMore">What could we have done better?</label>
            <textarea rows="10" name="timelyMannerMore" id="timelyMannerMore" class="input-tall"> </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="mt- mb">How satisfied are you with the design of the finished product?</label>
          <input type="radio" name="satisfaction" value="1" id="satisfactionOne"><label for="satisfactionOne">1</label>
          <input type="radio" name="satisfaction" value="2" id="satisfactionTwo"><label for="satisfactionTwo">2</label>
          <input type="radio" name="satisfaction" value="3" id="satisfactionThree"><label for="satisfactionThree">3</label>
          <input type="radio" name="satisfaction" value="4" id="satisfactionFour"><label for="satisfactionFour">4</label>
          <input type="radio" name="satisfaction" value="5" id="satisfactionFive"><label for="satisfactionFive">5</label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="mt- mb">How satisfied are you with the time it took to complete the project?</label>
          <input type="radio" name="timeSatisfaction" value="1" id="timeSatisfactionOne"><label for="timeSatisfactionOne">1</label>
          <input type="radio" name="timeSatisfaction" value="2" id="timeSatisfactionTwo"><label for="timeSatisfactionTwo">2</label>
          <input type="radio" name="timeSatisfaction" value="3" id="timeSatisfactionThree"><label for="timeSatisfactionThree">3</label>
          <input type="radio" name="timeSatisfaction" value="4" id="timeSatisfactionFour"><label for="timeSatisfactionFour">4</label>
          <input type="radio" name="timeSatisfaction" value="5" id="timeSatisfactionFive"><label for="timeSatisfactionFive">5</label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="mt- mb">Did we provide clear enough reasoning for our design choices?</label>
          <input type="radio" name="reasoning" class="reasoning" value="Yes" id="reasoningYes"><label for="reasoningYes">Yes</label>
          <input type="radio" name="reasoning" class="reasoning" value="No" id="reasoningNo"><label for="reasoningNo">No</label>
        </div>
      </div>

      <div class="reasoning-more">
        <div class="row">
          <div class="large-12 columns">
            <label class="mb" for="reasoningMore">What could we have done better?</label>
            <textarea rows="10" name="reasoningMore" id="reasoningMore" class="input-tall"> </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="mt- mb">Does the finished product meet your objectives?</label>
          <input type="radio" name="objectives" class="objectives" value="Yes" id="objectivesYes"><label for="objectivesYes">Yes</label>
          <input type="radio" name="objectives" class="objectives" value="No" id="objectivesNo"><label for="objectivesNo">No</label>
        </div>
      </div>

      <div class="objectives-more">
        <div class="row">
          <div class="large-12 columns">
            <label class="mb" for="objectivesMore">What could we have done better?</label>
            <textarea rows="10" name="objectivesMore" id="objectivesMore" class="input-tall"> </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="mt- mb">How likely are you to choose Underbelly for a future project?</label>
          <input type="radio" name="futureProjects" value="1" id="futureProjectsOne"><label for="futureProjectsOne">1</label>
          <input type="radio" name="futureProjects" value="2" id="futureProjectsTwo"><label for="futureProjectsTwo">2</label>
          <input type="radio" name="futureProjects" value="3" id="futureProjectsThree"><label for="futureProjectsThree">3</label>
          <input type="radio" name="futureProjects" value="4" id="futureProjectsFour"><label for="futureProjectsFour">4</label>
          <input type="radio" name="futureProjects" value="5" id="futureProjectsFive"><label for="futureProjectsFive">5</label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label class="mt- mb">How likely are you to recommend Underbelly to someone else?</label>
          <input type="radio" name="recommend" value="1" id="recommendOne"><label for="recommendOne">1</label>
          <input type="radio" name="recommend" value="2" id="recommendTwo"><label for="recommendTwo">2</label>
          <input type="radio" name="recommend" value="3" id="recommendThree"><label for="recommendThree">3</label>
          <input type="radio" name="recommend" value="4" id="recommendFour"><label for="recommendFour">4</label>
          <input type="radio" name="recommend" value="5" id="recommendFive"><label for="recommendFive">5</label>
        </div>
      </div>

      <div class="row">
        <div class="medium-12 columns">
          <label for="whatElse" class="mt- mb">What could we have done, if anything, to leave you feeling more satisfied with the finished product?</label>
          <textarea rows="10" name="whatElse" id="whatElse" class="input-tall"> </textarea>
        </div>
      </div>

      <div class="row">
        <div class="medium-12 columns">
          <button type="submit" name="submit" value="Submit" class="submit-button button radius" />Submit</button>
        </div>
      </div>

    </form>
    <div style="clear: both;"></div>
    </div>
</main>

{{> scripts-default }}
<script>

//keep the enter key from submitting form
function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

function radioToggle(title) {
  if ($("input[name=" + title + "]:checked").val() == "No") {
    $("." + title + "-more").slideDown("slow");
  } else {
    $("." + title + "-more").slideUp("slow");
  }
}

$(".objectives-more, .timelyManner-more, .reasoning-more").css("display","none");
$(".objectives").click(function() { radioToggle('objectives');});
$(".reasoning").click(function() { radioToggle('reasoning');});
$(".timelyManner").click(function() { radioToggle('timelyManner');});

function submitQuestionnaire() {
  $("#questionnaire-form").validate({
    errorElement: 'em',
    submitHandler: function() {
      //submit the form
      $("#questionnaire-form").fadeOut(300).reset;
      document.body.scrollTop = document.documentElement.scrollTop = 0;
      $(this).blur();

      $.post("<?php echo $_SERVER[PHP_SELF]; ?>",
        $("#contact-us").serialize(),
        function(data){
          var dataStr = data.replace(/(^\s+|\s+$)/g,'');
        if (dataStr === 'Sent') {
          $('#sending').fadeOut(300);
          alert('Great work! Thanks');
        }
        else {
          setTimeout(function(){
            $("#failed").fadeIn(600);
          }, 1600);
        }
      });
      return false;
    }
  });
}

$('#submit').on('click', function(e){
  submitQuestionnaire();
  $(this).blur();
});
</script>
