nav {
	width: 100%;
}
.nav-header {
	width: 100%;
	padding: 10px;
	text-align: center;
	li {
		width: 33.33%;
		display: inline-block;
		&:first-of-type{
			text-align: left;
		}
		&:last-of-type {
			text-align: right;
		}
	}
}
.nav {
	display: none;
	font-size: ( 18 / 16 ) * 1rem;
	font-weight: 700;
	a {
		color: red;
	}
}
footer a {
	color: blue;
}