$fluid-primary: #e47c5d;
$fluid-secondary: #92371a;

.fluid {
	.hero {
		@include ghost(center);
		position: relative;
		overflow: hidden;
		color: color(black);
		.project-meta {
			vertical-align: top;
			padding-top: 14vh;
		}
	}
	.ipad {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;
		z-index: 0;
		img {
			position: absolute;
			padding: 0 1em;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
			top: 50%;
		}
	}
	@media screen and (min-width: $medium) {
		.ipad img {
			top: 40%;
		}
	}
	.case-study-info {
		background-color: $fluid-primary;
		h1, p { color: color(white); }
		a { color: $fluid-secondary; display: block; margin-top: 1rem; }
	}
	.branding-exploration {
		background-color: color(white);
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.mark-exploration {
		background-color: color(light-gray-secondary);
		img {
			display: block;
			width: 80%;
			max-width: 170px;
			margin: 0 auto;
		}
	}
	.logotypes {
		margin-bottom: 4rem;
	}
	.detailed-icon {
		@include hero('../images/work/fluid/hero/03.jpg');
		background-size: 300%;
		h1 { color: color(white); }
		img {
			display: block;
			margin: 0 auto;
			max-width: 540px;
		}
		@media screen and (min-width: $medium) {
			background-size: cover;
		}
	}
	.lifestyle {
		background-color: color(light-gray-secondary);
		.video { margin-bottom: 15px; }
		.quote {
			padding-top: 3.6325rem;
			@media screen and (min-width: $medium) {
				padding-top: 5.625rem;
			}
		}
	}
}
