$bountiful-primary: #2fc3ed;

.bountiful {
	.hero { @include hero('../assets/img/work/bountiful/hero/hero.jpg'); }
	.case-study-info {
		background-color: color(light-gray-primary);
	}
	.branding {
		background-color: color(white);
		img { margin-bottom: 3.75rem; }
	}
	.exploration {
		background-color: $bountiful-primary;
		h1 { color: color(white); }
		.grid-1-4 {
			text-align: center;
			vertical-align: middle;
		}
		img {
			padding-left: .5rem;
			padding-right: .5rem;
		}
	}
	.lifestyle {
		img { margin-top: 20px; }
	}
	.web {
		background-color: color(light-gray-primary);
		@extend %clearfix;
		.web-img, .mobile-img {
			display: inline-block;
			vertical-align: middle;
			@media screen and (min-width: $medium) {
				vertical-align: top;
			}
		}
		.web-img {
			width: 70%;
			padding-right: 2rem;
		}
		.mobile-img {
			width: 30%;
		}
	}
}