$hive-primary: #4b5664;

.hive {
	.hero {
		@include hero('../assets/img/work/hive/hero/hero.jpg');
		.hero-lg, p { color: color(white); }
	}
	section {
		padding: 5.625rem 2rem;
	}
	.case-study-info {
		background: $hive-primary;
		h1, p { color: color(white); }
	}
	.branding-exploration {
		background: url('../assets/img/work/hive/branding/bg.jpg') no-repeat center center;
		background-size: cover;
		h1 { color: color(black); }
		img { display: block; margin: 0 auto; }
		@media screen and (min-width: $small) {
			img { max-width: 420px; }
		}
	}
	.evolution {
		background-color: color(white);
		img {
			display: block;
			margin: 0 auto;
			padding: 0 15px;
		}
	}
	.ui-elements, .checklists {
		height: 50vh;
		@media screen and (min-width: $medium) {
			height: 100vh;
		}
	}
	.ui-elements {
		overflow: hidden;
		position: relative;
		&:before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('../assets/img/work/hive/ui-elements/hero.jpg');
			background-position: top center;
			z-index: -1;
			will-change: transform;
		}
	}
	.checklists {
		background-image: url('../assets/img/work/hive/checklists/hero.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.responsive-ui {
		background-color: color(white);
		h1 { margin-bottom: 10px; }
		.copy:first-of-type {
			padding-bottom: 20px;
			@media screen and (min-width: $medium) {
				padding-bottom: 0;
			}
		}
	}
	.quote-container {
		background-color: color(white);
	}
}