---
component: contact-form
---
                    <form id="contact-us" method="post" action="" data-abide>
                        <legend class="h3">Contact Us</legend>
                        <br/>
                        <fieldset>
                            <div class="row">
                                <label for="name" class="inline">Hi! My name is </label>
                                <span class="input">
                                    <input type="text" id="name" name="name" placeholder="your name" required>
                                </span>
                                <div id="subversion">
                                    <label for="lastname">Leave this blank</label>
                                    <span class="input">
                                        <input type="text" id="lastname">
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <label for="email" class="inline">My email address is </label>
                                <span class="input">
                                    <input type="email" id="email" name="email" placeholder="your email" required>
                                </span>
                            </div>
                            <div class="row">
                                <label for="project" class="inline">I'd like to talk about </label>
                                <span class="select">
                                    <select name="selection">
                                        <option value="General Project">a general project.</option>
                                        <option value="Branding">building a brand.</option>
                                        <option value="UX-UI">UX/UI design.</option>
                                        <option value="Therapy">my feelings.</option>
                                    </select>
                                </span>
                                <span class="underline"></span>
                            </div>
                            <div class="row">
                                <label for="budget" class="inline">My budget is </label>
                                <span class="select">
                                    <select name="budget">
                                        <option value="Not Specified">still being worked out.</option>
                                        <option value="$2,000 - $5,000">$2,000 - $5,000</option>
                                        <option value="$5,000 - $10,000">$5,000 - $10,000</option>
                                        <option value="$10,000 - $20,000">$10,000 - $20,000</option>
                                        <option value="$20,000+">$20,000+</option>
                                    </select>
                                </span>
                                <span class="underline"></span>
                            </div>
                            <div class="row">
                                <label for="details" class="block">Here's a bit about my project</label>
                                <textarea id="details" name="details" rows="5"></textarea>
                            </div>
                        </fieldset>
                        <div class="text-center">
                            <button id="submit" href="#!" class="button button-large radius" type="submit">Let's do this</button>
                        </div>
                    </form>
