.btn {
    border-radius: 6px;
    padding: 8px 40px;
    display: inline-block;
    &.btn-default {
        background-color: $blue;
        color: $white;
        &:hover {
            background-color: lighten($blue, 10%);
        }
    }
}


.pill-btn {
    display: inline-block;
    border-radius: 25px;
    padding: 7px 15px 5px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: all ease-in-out 0.2s;
    
    &:hover,
    &:hover:after {
        transition: all ease-in-out 0.2s;
    }
    &:hover {

    }
    &:after {
        content: '›';
        font-size: 0;
        display: inline;
        line-height: 5px;
        top: -3px;
        opacity: 0;
        margin-left: 0;
        position: relative;
        transition: all ease-in-out 0.2s;
    }
    &:hover:after {
        content: '›';
        font-size: 2em;
        display: inline;
        top: 3px;
        opacity: 1;
        margin-left: 16px;
    }

    &.dark {
        color: $white;
        border-color: rgba($white, 0.9);
        &:hover {
            background-color: $blue;
            border-color: rgba($blue,0.9);
        }
        &.hollow {
            &:hover {
                background-color: transparent;
                border-color: rgba($white, 0.9);
            }
        }
    }
    &.blue {
        color: $blue;
        border-color: rgba($blue,0.9);
    }
    &.light {
        color: $blue;
        border-color: rgba($blue, 0.9);
    }
}