.padding-sm {
    padding: $padding-sm 0; //15px
}
.padding-md {
    padding: $padding-md 0; //30px
}

.padding-lg {
    padding: $padding-lg 0; //60px
}
.padding-xl {
    padding: $padding-xl 0; //90px
}

@media #{$small-only} {
    .padding-sm {
        padding: ceil($padding-sm * 0.5) 0; //15px
    }
    .padding-md {
        padding: ceil($padding-md * 0.5) 0; //30px
    }

    .padding-lg {
        padding: ceil($padding-lg * 0.5) 0; //60px
    }
    .padding-xl {
        padding: ceil($padding-xl * 0.5) 0; //90px
    }
}

.padding-60 { padding: 60px 0; }
.padding-top-60 { padding-top: 60px; }
.padding-bottom-60 { padding-bottom: 60px; }
@media #{$small-only} {
    .padding-60 { padding: 30px 0; }
    .padding-top-60 { padding-top: 30px; }
    .padding-bottom-60 { padding-bottom: 30px; }
}

.padding-90 { padding: 90px 0; }
.padding-top-90 { padding-top: 90px; }
.padding-bottom-90 { padding-bottom: 90px; }
@media #{$small-only} {
    .padding-90 { padding: 45px 0; }
    .padding-top-90 { padding-top: 45px; }
    .padding-bottom-90 { padding-bottom: 45px; }
}

.padding-120 { padding: 120px 0; }
.padding-top-120 { padding-top: 120px; }
.padding-bottom-120 { padding-bottom: 120px; }
@media #{$small-only} {
    .padding-120 { padding: 60px 0; }
    .padding-top-120 { padding-top: 60px; }
    .padding-bottom-120 { padding-bottom: 60px; }
}

.padding-150 { padding: 150px 0; }
.padding-top-150 { padding-top: 150px; }
.padding-bottom-150 { padding-bottom: 150px; }
@media #{$small-only} {
    .padding-150 { padding: 75px 0; }
    .padding-top-150 { padding-top: 75px; }
    .padding-bottom-150 { padding-bottom: 75px; }
}

.padding-180 { padding: 180px 0; }
.padding-top-180 { padding-top: 180px; }
.padding-bottom-180 { padding-bottom: 180px; }
@media #{$small-only} {
    .padding-180 { padding: 90px 0; }
    .padding-top-180 { padding-top: 90px; }
    .padding-bottom-180 { padding-bottom: 90px; }
}

.padding-270 { padding: 270px 0; }
.padding-top-270 { padding-top: 270px; }
.padding-bottom-270 { padding-bottom: 270px; }
@media #{$small-only} {
    .padding-270 { padding: 135px 0; }
    .padding-top-270 { padding-top: 135px; }
    .padding-bottom-270 { padding-bottom: 135px; }
}


[class^="padding-"] [class^="padding-"],
[class*=" padding-"] [class*=" padding-"] {
    padding-bottom: 0;
}

.vert-center {
    display: table-cell;
    vertical-align: middle;
}
