
@font-face {
    font-family: 'underbelly-icons';
    src: url('../fonts/underbelly-icons.eot');
    src: url('../fonts/underbelly-icons.eot#iefix') format('embedded-opentype'),
         url('../fonts/underbelly-icons.woff') format('woff'),
         url('../fonts/underbelly-icons.ttf') format('truetype'),
         url('../fonts/underbelly-icons.svg#underbelly-icons') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'underbelly-icons';
        src: url('../fonts/underbelly-icons.svg') format('svg');
    }
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    @font-face {
        font-family: 'underbelly-icons';
        src: url('../fonts/underbelly-icons.svg') format('svg');
    }
}

.monstro-icons {
    font-family: 'underbelly-icons';
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'underbelly-icons';
    font-size: 80px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-header-icon-1:before {
    content: "\e60f";
}
.icon-header-icon-2:before {
    content: "\e61a";
}
.icon-header-icon-3:before {
    content: "\e61b";
}

.icon-header-icon-brand:before {
    content: "\e61c";
}
.icon-header-icon-dev:before {
    content: "\e61d";
}
.icon-header-icon-ux:before {
    content: "\e61e";
}

.icon-underbelly:before{
    content: '\e600';
}
.icon-monstro:before{
    content: '\e601';
}
.icon-circlenext:before{
    content: '\e602';
}
.icon-plus:before{
    content: '\e603';
}
.icon-check:before{
    content: '\e604';
}
.icon-cross:before{
    content: '\e605';
}
.icon-menu:before{
    content: '\e606';
}
.icon-location:before{
    content: '\e607';
}
.icon-home:before{
    content: '\e608';
}
.icon-telephone:before{
    content: '\e609';
}
.icon-mail:before{
    content: '\e610';
}
.icon-pause:before{
    content: '\e611';
}
.icon-bubble:before{
    content: '\e612';
}
.icon-calendar:before{
    content: '\e613';
}
.icon-loop:before{
    content: '\e614';
}
.icon-image:before{
    content: '\e615';
}
.icon-link:before{
    content: '\e616';
}
.icon-clip:before{
    content: '\e617';
}
.icon-creditcard:before{
    content: '\e618';
}
.icon-dribbble:before{
    content: '\e619';
}
.icon-instagram:before{
    content: '\e620';
}
.icon-pluslight:before{
    content: '\e621';
}
.icon-airplane:before{
    content: '\e622';
}
.icon-facebook:before{
    content: '\e623';
}
.icon-twitter:before{
    content: '\e624';
}
.icon-twitter-sign:before {
    content: "\e60c";
}
.icon-facebook-sign:before {
    content: "\e60d";
}
.icon-angle-right:before {
    content: "\e60e";
}


.h1 .icon-circlenext {
    font-size: $font-size-h1;
    vertical-align: middle;
}
.h2 .icon-circlenext {
    font-size: $font-size-h2;
    vertical-align: middle;
}
