// #landingHero {
//     padding-top: 240px;
// }


//Sticky Footer

html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    margin: 0;
    background-color: $white;
    font-weight: $font-light;
}

* {
      -webkit-tap-highlight-color:rgba(0,0,0,0);
  } 

.l-wrapper {
    height: 100%;
}

.header-spacer {
    display: block;
    height: 220px;
}

@media (max-width: $screen-width-sm) {
    .header-spacer {
        height: 0;
    }
}

main {
    min-height: 100%;
    margin-bottom: -84px;
    &:after {
        content: "";
        display: block;
    }

    @media #{$small-only} {
        margin-bottom: 0;
    }
    
}

main:after, .l-footer {
    height: 84px;
}

@media #{$large-up} {
    .row {
        width: 80%;
        max-width: 1200px;
    }
}




#pollMQ {
    display: none;
    height: 0;
    width: 0;
    opacity: 0;
    float: right;
    @media (max-width: $screen-width-md) {
        display: inline;
    }
    @media (max-width: $screen-width-sm) {
        display: block;
    }
}



.parallax-wrap {
    height: 600px;
    overflow: hidden;
    background-color: $black;
    position: relative;
}

.overlay {
    position: absolute;
    display: block;
    top: 25%;
    left: 25%;
    margin-top: -50px;
    margin-left: -178px;
    vertical-align: middle;
    color: white;
    z-index: 20;
    &:hover {
        color: $white;
    }
    

}


.btn-white {
    background-color: rgba($white, 0.9);
    border-color: $white;
}

.white {
    background-color: $white;
    color: $darkgray;
    &.semi {
        background-color: rgba($white, 0.75);
        border: 1px solid $white;
    }
}

*.text-white {
    color: $white;
}

.offwhite {
    background-color: $offwhite;
    color: $darkgray;
}

.turquoise {
    background-color: $turquoise;
    color: $white;
}

.black {
    background-color: $black;
    color: $white;
    * {
        color: $white;
    }
    &.semi {
        background-color: rgba($black, 0.5);
        border: 1px solid $black;
    }
}

.blue {
    background-color: $blue;
    color: $white;
    a {
        color: $white;
        &:hover {
            color: rgba($white, 0.8);
        }
    }

    &.semi {
        background-color: rgba($blue, 0.75);
        border: 1px solid $blue;
    }
}

.light-blue {
    background-color: rgba($blue, 0.2);
    background-image: none;
    color: $darkgray;
}

.seafoam {
    background-color: $seafoam;
    color: $darkgray;
}


.full-height {
    min-height: 400px;
    max-height: 860px;
    padding: 10px 45px 0;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content-block {
    padding: 15px;
    line-height: $base-line-height;
}

#about {
    width: 60%;
    margin: 0 auto;
    padding-top: 90px;
}


div.quote {
    color: $darkgray;
    font-size: 2em;
    text-align: center;

    &.text-white {
        color: $white;
    }

    
    display: block;
    .quote-author {
        clear: both;
        display: block;
        font-size: $font-size-base;
    }
    &.lightgray {
        background-color: $lightgray;
        background-image: none;
    }
    @media (max-width: $screen-width-sm) {
        font-size: 1.5em;
    }
    
}


.quote-text {
    font-size: 1em;
    &:before {
        content: "\201C";
        margin-right: -5px;
    }
    &:after {
        content: "\201D";
        margin-left: -5px;
    }
}

.grad-up {
    background: rgb(255,253,252);
    background: -moz-linear-gradient(top, rgba(244, 247, 248, 1) 0%, rgba(234,240,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244, 247, 248, 1)), color-stop(100%,rgba(234,240,242,1)));
    background: -webkit-linear-gradient(top, rgba(244, 247, 248, 1) 0%,rgba(234,240,242,1) 100%);
    background: -o-linear-gradient(top, rgba(244, 247, 248, 1) 0%,rgba(234,240,242,1) 100%);
    background: -ms-linear-gradient(top, rgba(244, 247, 248, 1) 0%,rgba(234,240,242,1) 100%);
    background: linear-gradient(to bottom, rgba(244, 247, 248, 1) 0%,rgba(234,240,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7f8', endColorstr='#eaf0f2',GradientType=0 );
}

.grad-down {
    background: rgb(234,240,242);
    background: -moz-linear-gradient(top,  rgba(234,240,242,1) 0%, rgba(244, 247, 248, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,240,242,1)), color-stop(100%,rgba(244, 247, 248, 1)));
    background: -webkit-linear-gradient(top,  rgba(234,240,242,1) 0%,rgba(244, 247, 248, 1) 100%);
    background: -o-linear-gradient(top,  rgba(234,240,242,1) 0%,rgba(244, 247, 248, 1) 100%);
    background: -ms-linear-gradient(top,  rgba(234,240,242,1) 0%,rgba(244, 247, 248, 1) 100%);
    background: linear-gradient(to bottom,  rgba(234,240,242,1) 0%,rgba(244, 247, 248, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf0f2', endColorstr='#f4f7f8',GradientType=0 );

}

#loading {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 999;
    background-color: $white;
    display: block;
    
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -64px;
        margin-top: -64px;
    }

    &:after {
        content: '';
        
    }
}

.tabs {
    list-style-type: none;
    border-bottom: 1px solid $lightgray;
    margin-left: 0;
    li {
        display: inline-block;
        margin-right: 30px;
        position: relative;

        a {
            padding: 5px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 0;
            bottom: 0;
            width: 100%;
            background-color: $orange;
            -webkit-transition: bottom ease 0.4s 0s, height ease 0.4s 0s;
            //-webkit-transition-delay: 0.4s;
        }
        

        &.active {
            &:after {
                height: 5px;
                bottom: -5px;
                -webkit-transition: bottom ease 0.4s 0.4s, height ease 0.4s 0.4s;
                //-webkit-transition-delay: 0.4s;
            }
        }
    }
}

@media (max-width: $screen-width-sm) {
    .tabs {
        margin-top: 15px;
        border-bottom: none;
        li {
            display: block;
            margin-bottom: 15px;
            text-align: center;

            &:after {
                display: none;
            }

            &.active {
                font-weight: $font-bold;
            }
        }
    }
}

.tabs-content {
    min-height: 100px;
    .content {
        display: none;
        &.active {
            display: block;
        }
    }
    
}

body.pace-done {
    #loading {
        opacity: 0;
        min-height: 0;
        -webkit-transition: opacity 1s ease 0.2s, min-height ease 0s 1.2s ;
    }
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: block;
    position: fixed;
    width: 290px;
    height: 100px;
    left: 50%;
    margin-left: -145px;
    top: 50%;
    margin-top: -50px;
    z-index: 1999;

    &.pace-inactive {
        opacity: 0;
        -webkit-transition: opacity 0.5s ease;
    }
    
    color: rgba($black, 0.2);
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            min-height: 100%;
            z-index: 999;
    }
    &:after {
        font-family: 'underbelly-icons';
        content: '\e600';
        font-size: 290px;
        line-height: 120px;
        width: 340px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .pace-progress {
        display: block;
        overflow: hidden;
        -webkit-transition: width ease 0.1s;
        top: 0;
        left: 0;
        width: 340px;
        height: 120px;
        &:after {
            position: relative;
            font-family: 'underbelly-icons';
            content: '\e600';
            font-size: 290px;
            line-height: 120px;
            color: $blue;
            z-index: 1001;
        }
    }
}



.pace.pace-inactive .pace-progress {
  //display: none;
}

// .pace .pace-progress {
//   position: relative;
//   z-index: 2000;
//   top: 0;
//   right: 0;
//   height: 5rem;
//   background-color: $blue;
//   width: 300px;
//   margin: 0 auto;

// }



// .pace .pace-progress:after {
//   display: block;
//   position: absolute;
//   top: 0;
//   right: .5rem;
//   content: '';
//   //content: attr(data-progress-text);
//   font-family: "Helvetica Neue", sans-serif;
//   font-weight: 100;
//   font-size: 5rem;
//   line-height: 1;
//   text-align: right;
//   background-color: $black;
//   height: 30px;
//   color: rgba($black, 0.5);
//   width: attr(data-progress-text);

// }

@-webkit-keyframes spinning-compass {
  0%   {
        -webkit-transform: rotate(0deg);
        -webkit-transition: -webkit-transform ease 0.1s;
    }
  30%   {
        -webkit-transform: rotate(720deg) ;
        -webkit-transition: -webkit-transform ease 0.1s;
    }
  45%   {
        -webkit-transform: rotate(-320deg) ;
        -webkit-transition: -webkit-transform ease 0.1s;
    }
  60%   {
        -webkit-transform: rotate(120deg) ;
        -webkit-transition: -webkit-transform ease 0.1s;
    }
  75%   {
        -webkit-transform: rotate(65deg) ;
        -webkit-transition: -webkit-transform ease 0.1s;
    }
  100% {
        -webkit-transform: rotate(-0deg) ;
        -webkit-transition: -webkit-transform ease 0.1s;
    }
}

@-moz-keyframes spinning-compass {
  0%   {
        -moz-transform: rotate(0deg);
        -moz-transition: -moz-transform ease 0.1s;
    }
  30%   {
        -moz-transform: rotate(720deg) ;
        -moz-transition: -moz-transform ease 0.1s;
    }
  45%   {
        -moz-transform: rotate(-320deg) ;
        -moz-transition: -moz-transform ease 0.1s;
    }
  60%   {
        -moz-transform: rotate(120deg) ;
        -moz-transition: -moz-transform ease 0.1s;
    }
  75%   {
        -moz-transform: rotate(65deg) ;
        -moz-transition: -moz-transform ease 0.1s;
    }
  100% {
        -moz-transform: rotate(-0deg) ;
        -moz-transition: -moz-transform ease 0.1s;
    }
}

@keyframes spinning-compass {
  0%   { transform: rotate(0deg)}
  30%   { transform: rotate(360deg) }
  45%   { transform: rotate(-155deg) }
  60%   { transform: rotate(40deg) }
  75%   { transform: rotate(65deg) }
  100% { transform: rotate(-0deg) }
}

body#error-404 {
    background-color: $blue;
    header {
        .top-bar-section ul li > a,
        #brand {
            color: $white;
            
        }
    }
}

main#four-oh-four {
    .content-wrap {
        position: relative;
        z-index: 11;
        padding-top: 15%;

        .pill-btn {
            margin-top: 15px;
        }
    }
    @media #{$small-only} {
        margin-bottom: 0;
        overflow: hidden;
        .content-wrap {
            padding-top: 25%;
        }
    }
}

#compass-404 {
    width: 290px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-image: url('../img/404-compass.png');
    background-size: cover;
    -webkit-animation: spinning-compass 5s ease infinite;
    -moz-animation: spinning-compass 5s ease infinite;
    animation: spinning-compass 5s ease infinite;

    @media #{$small-only} {
        width: 200px;
        height: 200px;
    }
}

#sirDaxOfDork {
    background-image: url('../img/404-desktop.jpg');
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    .message {
        width: 36%;
        position: absolute;
        top: 28%;
        left: 52%;
        color: $darkblue;
    }

    @media #{$small-only} {
        position: relative;
        height:  400px;
        background-image: url('../img/404-mobile.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0 50px;

        .message {
            width: 100%;
            top: 320px;
            position: relative;
            left: 0;
            .h1 {
                font-size: 2em;
            }
            .h3 {
                font-size: 1.2em;
            }
        }
    }

    // @media #{$large-up} {
    //     background-image: url('../img/404@2x.jpg');
    // }
}

#video-bg {
    &,
    & video {
        position: fixed;
        min-width: 100%;
        width: auto;
        min-height: 100%;
        height: auto;
        z-index: 1;
    }
    @media #{$medium-only} {
        position: absolute;
        background-image: url('../video/404.jpg');
        background-position: center;
        video {
            display: none;
        }
    }
    @media #{$small-only} {
        position: absolute;
        background-image: url('../video/404.jpg');
        background-position: center;
        video {
            display: none;
        }

    }
}
