header {
    &,
    &.semi {
        .top-bar {
            &.light {
                .menu-icon a:before,
                .menu-icon a:after {
                    background-color: $white;
                }
            }
        }
    }
    &.semi {
        .top-bar {
            background-color: rgba($white, 0.9);
        }
    }
    background-color: transparent;

    .top-bar.light {
        .top-bar-section {
            li a {
                &:hover {
                    color: $white;
                    span:after {
                        border-color: $white;
                    }
                }
            }
        }
    }
}

nav.top-bar {
    &.light {
        background-color: transparent;
        li a {
            color: $white;
        }
    }
    .top-bar-section {
        li a {

        }
    }
}
header .top-bar.light {
    &.expanded {
        background-color: rgba($darkgray, 0.9);
    }
}
header.semi .top-bar.light {
    background-color: rgba($darkgray, 0.9);
    li a {
        color: $white;
    }
}

header .top-bar.dark {
    color: $blue;
}

@media #{$small-only} {
    header .top-bar {
        & {
            -webkit-transition: max-height linear 0.3s 0.2s, background-color 0.4s 0.5s ease;
        }
        &.semi {
            -webkit-transition: max-height linear 0.3s 0.2s, background-color 0.4s 0.5s ease;
        }
    }
    header .top-bar,
    header.expanded .top-bar.expanded {
        color: $blue;
        background-color: rgba($white, 0.8);
        .top-bar-section li a:before {
            background-color: rgba($blue, 0.25);
        }
    }
    header .top-bar.dark {
        .toggle-topbar.menu-icon a {
            color: $blue;
            &:before,
            &:after {
                background-color: $blue;
            }
        }
        .title-area .contact-icon {
            color: $blue;
        }
        #brand {
            color: $blue;
        }
    }
    header .top-bar.light,
    header.semi .top-bar.light,
    header.expanded .top-bar.expanded.light {
        background-color: rgba($darkgray, 0.9);
        .top-bar-section li a:before {
            background-color: rgba($white, 0.25);
        }
        .toggle-topbar.menu-icon a {
            color: $white;
            &:before,
            &:after {
                background-color: $white;
            }
        }
        .title-area .contact-icon {
            color: $white;
        }
        #brand {
            color: $white;
        }
    }
    header .top-bar.light {
        background-color: transparent;
    }
}

@media #{$medium-up} {
        header .top-bar,
        header.semi .top-bar {
            transition: background-color 0.4s ease;
        }
    }
