$base-font-size: 18px !default;
$base-font-tablet: 16px;
$base-font-mobile: 14px;

@media #{$large-up} {
  html, body {
    font-size: $base-font-size;
  }
}

@media #{$small-only} {
  html, body {
    font-size: $base-font-mobile;
  }
}

@media #{$medium-only} {
  html, body {
    font-size: $base-font-tablet;
  }
}

body {
    font-family: $base-font;
    font-weight: $font-light;
    color: $black;
    line-height: $line-height-base;

}

p {
    font-weight: $font-light;
}

.loose {
    line-height: $line-height-loose;
}

a {
    color: $blue;
    text-decoration: none;
    &:hover,
    &:active {
        color: $link-hover-color;
        text-decoration: none;
    }
}

.bold {
    font-weight: $font-bold;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

.caption {
    line-height: $line-height-base;
}

.small {
  font-size: $font-size-small;
}

.large {
  font-size: $font-size-large;
}

.muted {
  color: $midgray1;
}

.xlarge {
  font-size: $font-size-xl;
}

/* Blockquotes */
    blockquote {
      margin: 50px;
      padding: 50px;
      border-top: 1px solid $lightgray;
      border-bottom: 1px solid $lightgray;

      color: $black;
      cite {
        display: block;
        font-size: 0.75em;
        font-style: normal;
        margin-top: 50px;


        a,
        a:visited {
          color: $blue;
        }
      }
    }
    blockquote,
    blockquote p {
        text-align: center;
        font-size: 1.4em;
      line-height: 1.24em;

    }

    blockquote p {
        margin-bottom: 0;
    }
