
$rio-primary: #020203;
$rio-secondary: #101012;
$rio-borders: #898c8c;

.run-it-once {
	background-color: $rio-primary;

	.rioLogo {
		margin-top: 20px;
		max-width: 275px;
	}

	.grid-copy p {
		color: #fff;
		line-height: 2;
		margin-bottom: 2rem;
	}

	.hero {
		position: relative;
		overflow: hidden;
		color: color(white);
		@include ghost(center);
	}

	#cardBox {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 50%;
		max-width: 275px;
		max-height: 375px;
		// padding-bottom: 26%;
		transform: translate3d(-50%, 0, 0);

		@media screen and (min-width: $small) {
			width: 35%;
			max-width: 300px;
		}

		@media screen and (min-width: $medium) {
			width: 33%;
		}
	}

	#cardBox > img {
		position: absolute;
		bottom: 0;
		left: 50%;

		transition: transform cubic-bezier(0.6, -0.4, 0.2, 0.4) 750ms;
		transform: translate3d(-50%, 0, 0);
	}

	#cardBox {

		.front {
			position: relative;
		}

		.frontLid,
		.backLid {
			bottom: initial;
			top: 0px;
			width: calc(100% - 12px);
		}

		.card01, .card02, .card03 {
			bottom: -50px;
			transition-delay: 300ms;
			width: calc(100% - 14px);
		}

	}

	#cardBox.animate {

		.frontLid, .backLid {
			transform: translate3d(-50%, -50px, 0);
		}
		img.card01 {
			transform: translate3d(-50%, -180px, 0);
			@media screen and (min-width: $small) {
				transform: translate3d(-50%, -225px, 0);
			}
		}
		img.card02 {
			transform: translate3d(-50%, -140px, 0);
			@media screen and (min-width: $small) {
				transform: translate3d(-50%, -170px, 0);
			}
		}
		img.card03 {
			transform: translate3d(-50%, -95px, 0);
			@media screen and (min-width: $small) {
				transform: translate3d(-50%, -115px, 0);
			}
		}

	}

	.two-cards {
		padding-bottom: 48%;

		@include hero('../images/work/run-it-once/hero/two-cards.png');
	}

	.case-study-gallery {

		@media screen and (min-width: $small) {
			overflow: hidden;

			border-top: 1px solid $rio-borders;
			border-bottom: 1px solid $rio-borders;
		}

		.galleryImg {
			margin-bottom: 1px;
			border-bottom: 1px solid $rio-borders;

			@media screen and (min-width: $small) {
				margin: 0;
				border: none;
			}
		}

		.galleryImg.one {
			border-top: 1px solid $rio-borders;

			@media screen and (min-width: $small) {
				border: none;
				border-right: 1px solid $rio-borders;
			}
		}

		.galleryImg.two {
			@media screen and (min-width: $small) {
				margin-bottom: 1px;

				border-bottom: 1px solid $rio-borders;
			}
		}

	}

	.case-study-gallery2 {
		@media screen and (min-width: $small) {
			overflow: hidden;
			border-top: 1px solid $rio-borders;
			border-bottom: 1px solid $rio-borders;
		}

		.gallery2Img {
			margin-bottom: 1px;
			border-bottom: 1px solid $rio-borders;

			@media screen and (min-width: $small) {
				margin: 0;
				border: none;
				border-right: 1px solid $rio-borders;
			}
		}

		.gallery2Img.one {
			border-top: 1px solid $rio-borders;
			@media screen and (min-width: $small) {
				border-top: none;
			}
		}

		.gallery2Img.three {
			border-right: none;
		}


	}

	.case-study-deck {

		overflow-y: hidden;

		.grid-1-2:first-of-type {
			@media screen and (min-width: $small) {
				position: relative;
				top: 100px;
			}
		}

		.deckCard {
			position: relative;
			margin-bottom: -125px;

			&:nth-child(1){ z-index: 6; }
			&:nth-child(2){ z-index: 5; }
			&:nth-child(3){ z-index: 4; }
			&:nth-child(4){ z-index: 3; }
			&:nth-child(5){ z-index: 2; margin-bottom: 0; }
			&:nth-child(6){ margin-bottom: 0; position: absolute; }
		}
	}

	.case-study-cards {
		color: #fff;

		.card {
			position: relative;
			display: block;
			margin: 0 auto -50px;

			&:nth-child(1){ z-index: 3; }
			&:nth-child(2){ z-index: 2; }
			&:nth-child(3){ z-index: 1; }
		}
	}

	.case-study-gallery,
	.case-study-gallery2 {
		padding: 0;
	}
}


section.case-study-final {
    position: relative;
    min-height: 450px;
}
