$rio-primary: #020203;
$rio-secondary: #101012;

.run-it-once {
	background-color: $rio-primary;
	.hero {
		@include ghost(center);
		position: relative;
		overflow: hidden;
		color: color(white);

		.card-box {
			position: absolute;
			bottom: 0;
			height: 1px;
			padding-bottom: 26%;
			width: 75%;
			max-width: 475px;
			max-height: 375px;
	      background: red;
	      left: 50%;
	      transform: translate3d(-50%, 0, 0);

			@media screen and (min-width: $small) {
				width: 40%;
			}

			@media screen and (min-width: $medium) {
				width: 33%;
			}

		}

		.card-box > img {
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate3d(-50%, 0, 0);
		}

	} // end hero
	.two-cards {
		@include hero('../images/work/run-it-once/hero/two-cards.png');
		padding-bottom: 48%;
	}

	.case-study-gallery {
		padding: 0;
	}
}
