#contact {

    main {
        padding-top: 100px;
        margin-bottom: 0;
        background-image: url('../img/map-bg.jpg');
        background-size: cover;
        background-color: $offwhite;
        background-position: center;
        background-repeat: no-repeat;
    }

}
#contactForm .content-wrap {
    height: 570px;
}

[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
  font-style: normal !important;
}

#contactWrap {
    $inBez: cubic-bezier(.37,.02,.3,1.52);
    $outBez: cubic-bezier(.73,-0.44,.61,1.33);
    &.shrink {
        transform: scale(0.75, 0.75);
        opacity: 0;
        top: 75px;
        transition: opacity ease 0.15s 0.15s, top $outBez 0.3s 0s, transform $outBez 0.3s 0s;
    }

    transition: opacity ease 0.3s 0.1s, top $inBez 0.4s, transform 0.4s $inBez;
    //animation: bounce 1;
    position: relative;
    top: 0;
    margin-top: 0;
    opacity: 1;
    z-index: 1;

    > div {
        background-color: rgba($white, 0.9);
        padding: 30px;
        margin-bottom: 30px;
        min-height: 545px;
        max-height: 545px;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;

            border-top: 20px solid rgba($white, 0.9);
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -20px;
        }
    }



    form {

    }

    fieldset {
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    #subversion {
        display: none;
    }
    label,
    input,
    select {
        font-size: $h6-font-size;
        font-family: $base-font;
    }
    label {
        float: left;
        line-height: 0.75;
        padding: 0.625rem 0 0;
    }
    input, textarea {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    input {
        color: $black;
        width: 100%;
        display: inline-block;
        height: 39px;
        padding-bottom: 0;
        padding-left: 5px;
        padding-top: 0;

        @media #{$medium-only} {
            height: 34.5px;
        }



    }
    .input, .select, textarea {
        background-image: url('../img/form-BG.png');
        background-repeat: repeat;
        background-position: top;


    }

    .input, .select {
        display: block;
        overflow: auto;
        input {
            float: left;
        }
        &.error {
            background-color: transparent;
            background-image: url('../img/form-BG.png');
            background-repeat: repeat;
            background-position: top;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            color: $red;
            input {
                margin-bottom: 1rem;
            }
        }
        em.error {
            height: 0;
            max-height: 0;
            display: block;
        }
    }
    .select {
        overflow: hidden;
    }
    #submit {
        margin-bottom: 0;
    }

    select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        border: none;
        box-shadow: none;
        width: 110%;
        display: inline-block;
        background-image: url('../img/select-arrow.png');
        background-color: transparent;
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: 90% 50%;
        height: 39px;
        color: rgba(0,0,0,0.5);
        padding: 4px 8px;
        font-size: $h6-font-size;
        @media
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                background-image: url('../img/select-arrow@2x.png');
            }

        @media #{$medium-only} {
            height: 34.5px;
        }
    }

    .underline {
        content: '';
        background-image: url('../img/form-BG.png');
        background-repeat: repeat;
        background-position: bottom;
        position: relative;
        top: 10px;
        height: 36px;
    }
    #details {
        display: block;
        clear: both;
        width: 100%;
        height: 75px;
        border-bottom: none;
        font-size: $h6-font-size;
        line-height: 36px;
        resize: none;

    }

}
::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5);
}

:-ms-input-placeholder {
    color: rgba(0,0,0,0.5);
}

@-webkit-keyframes rotation {
        from {-webkit-transform: rotate(0deg);}
        to   {-webkit-transform: rotate(359deg);}
    }
#sending {
    display: none;
    margin: 145px auto;
    text-align: center;

    #sending-png {
        -webkit-animation: rotation 2s infinite linear;
        animation: rotation 2s infinite linear;
    }


}

#message {
    $messageBezIn: cubic-bezier(.33,1.65,.72,.89);

    &.initial {
        transform: translateY(320px) scale(0.9);
        opacity: 0;
        width: 200px;
        margin-left: -100px;
        max-height: 0;
        overflow: hidden;

        #sent-message {
            transform: translateY(220px);
            opacity: 0;
        }
    }
    transition: all 0.6s $messageBezIn 0.3s;
    opacity: 1;
    margin-top: 0;
    text-align: center;
    color: $white;
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    z-index: 1;
    height: 545px;

    #sent-message {
        display: inline-block;
        opacity: 1;
        transition: all $messageBezIn 0.6s 0.45s;
    }
}


#message.initial {
    #facebook-wrap,
    #twitter-wrap {
        opacity: 0;
    }
    #facebook-wrap {
        margin: -150px 0 0 150px;
    }
    #twitter-wrap {
        margin: -150px 150px 0 0;
    }
}

#message.initial {
    .icon-twitter,
    .icon-facebook {
        opacity: 0;
    }
}

#message {
    .icon-twitter {
        transition: opacity 0.4s ease 2s;
    }
    .icon-facebook {
        transition: opacity 0.4s ease 1.333s;
    }
    &.loaded {
        #facebook-wrap,
        #twitter-wrap,
        .icon-facebook,
        .icon-twitter {
            transition: opacity 0.4s ease 0.4s;
        }
    }
}

#facebook-wrap .social-circle,
#twitter-wrap .social-circle {
    display: block;
    color: $white;
    width: 120px;
    height: 120px;
    margin-top: -30px;
    border-radius: 50%;
    border: 2px solid rgba($darkgray, 0.5);
    background-color: rgba($darkgray, 0.3);

    transition: border 0.4s ease, transform 0.6s ease;
    i {
        display: block;
        position: absolute;
        margin-top: 40px;
        margin-left: 40px;
        font-size: 40px;
    }
    #twitterFollow,
    #facebookLike {
        opacity: 0;
        display: block;
        position: relative;
        z-index: 100;
        transition: opacity 0.4s ease;
    }
    #twitterFollow {
        margin-top: 50px;
        left: 50%;
        margin-left: -72px;
    }
    #facebookLike {
        margin-top: 44px;
        margin-left: 0;
    }
    &:hover {
        border: 2px solid $darkgray;
        transition: border 0.4s ease;

        i {
            opacity: 0;
            transition: all 0.4s ease;
        }
        #twitterFollow,
        #facebookLike {
            opacity: 1;
            transition: all 0.4s ease 0.2s;
        }

    }

}

#facebook-wrap .social-circle {
    i {
        font-size: 60px;
        margin-left: 27px;
        margin-top: 31px;
    }
}

#facebook-wrap {
    transition: margin 0.6s cubic-bezier(.33,1.65,.46,.85) 1s, opacity ease 0.6s 1s;
}

#twitter-wrap {
    transition: margin 0.6s cubic-bezier(.33,1.65,.46,.85) 1.5s,  opacity ease 0.6s 1.5s;
}



#sent-check {

    width: 200px;
    height: 200px;
    border: 2px solid $white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background: rgba($white, 0.1);
    margin-bottom: 30px;

    > span {
        line-height: 215px;
        color: $white;
    }
}

#failed {
    display: none;
}

#contact-card {
    margin: 40px auto 0;
    font-weight: $font-bold;
    width: 60%;
    background-color: rgba($blue, 0.9);
    border: 1px solid $blue;
    border-radius: 4px;
    padding: 30px;
    color: $white;
    position: relative;
    bottom: 0;
    &.initial {
        opacity: 0;
    }
    opacity: 1;
    transition: opacity ease 0.6s 0.6s;
    i {
        color: $darkerblue;
        font-size: 20px;
        vertical-align: middle;
        margin-right: 10px;
    }
    i.spacer {
        width: 20px;
        display: inline-block;
    }

    .large-12 {
        margin-top: 15px;
    }
    @media (max-width: $screen-width-md) {
        width: 66.66667%;
    }
}

@media #{$small-only} {
    #contact main {
        padding-top: 50px;
        background-size: 300%;
        background-position: top;
    }
    #contactForm .content-wrap {
        height: auto;
        min-height: 400px;
    }

    #message {
        width: 300px;
        margin-left: -150px;
        top: 20px;
        height: 400px;
        .social-circle {
            width: 80px;
            height: 80px;
        }
        #facebook-wrap,
        #twitter-wrap {
            .social-circle i {
                margin-top: 20px;
                margin-left: 20px;

                #facebookLike {
                    margin-top: 28px;
                }
                #twitterFollow {
                    margin-top: 28px;
                    margin-left: -37px;
                }
            }
        }
    }

    #contactWrap {
        min-height: 468px;
        > div {
            padding: 0;
            min-height: 100%;
            max-height: 100%;
            margin-bottom: 0;
            &:after {
                display: none;
            }

        }

        #sending {
            margin: 20px;
            padding: 100px 0;
        }

        &.shrink {
            > div {
                // background-color: transparent;
                // transition: background-color linear 0s;
            }
        }

        label {
            margin-bottom: 0;
            width: 100%;
            font-size: $h6-font-size;
            float: none;
            text-align: left;
            font-weight: $font-normal;
        }
        input,
        select {
            width: 100%;
            padding-left: 0;
        }
        form {
            text-align: center;
            padding: 20px 10px;
            margin: 0 10px;
        }
        .input {
            margin-top: 7px;
            margin-bottom: 7.5px;
        }
        input,
        select {
            //margin-bottom: 25px;
        }
        input {
            height: 40px;
            margin-bottom: 7.5px;
            line-height: 17.5px;
        }
        .select {
            overflow: hidden;
        }
        select {
            height: 40px;
            width: 110%;
        }
    }
    #submit {
        width: 100%;
        margin-top: 30px;
    }

    #sent-check {
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
        .icon-check {
            line-height: 155px;
        }
    }

    #contact-card {
        position: static;
        width: auto;
        margin: 15px;
        padding: 15px;
        border-radius: 0;

        .large-12 {
            margin-top: 0;
        }

        i.icon-home {
            display: inline-block;
            margin-bottom: 2px;
            float: left;
        }
    }
    main:after {
        height: 0;
    }

    #footer {
        margin-top: 0;
        .right .btn {
            display: none;
        }
    }

}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
