#landingHero {
    background-color: $black;
    color: $white;
    padding: 0;
    a {
        color: $white;
    }
    .hero-text {
        position: absolute;
        top: 25%;
    }
    .hero-slide {
        //background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        min-height: 468px;

        &.dark {
            color: $darktheme;
        }
        &.light {
            color: $lighttheme;
        }
    }
    .hero-content {
        position: relative;
        top: 30%;
        transform: translate(800px, 0);

        h2,
        .btn {
            font-weight: bold;
        }
        p {
            font-size: 1em;
        }
        transition: transform ease 0.8s, opacity ease 1s;
        &.scroll-in {
            transform: translate(0, 0);
        }
        &.scroll-out {
            transform: translate(100px, 0);
            transition: transform ease 0.8s 2s;
        }

        &.fadeOut {
            opacity: 0;
        }
        &.fadeIn {
            opacity: 1;
        }

        @media (max-width: $screen-width-sm) {
            padding: 0 15px;
            &.scroll-out {
                transform: translate(0, 0);
                transition: none;
            }
        }
    }
}
.see-our-work {
    display: block;
    padding: 50px 0;
    @media #{$medium-only} {
        .circlenext {
            margin-left: -114px;
        }
    }

    &:hover {
        color: $white;
    }

    .circlenext {
        position: relative;
        left: 50%;
        margin-left: -103px;

        i {
            margin-left: 5px;
        }
    }
}

#heroSlide1 {
    background-image: url('../img/featured-work-md.jpg');
    background-size: normal;
    @media (min-width: $screen-width-lg) {
        background-image: url('../img/featured-work-large.jpg');
    }
    @media (max-width: $screen-width-sm) {
        background-image: url('../img/featured-work-mobile.jpg');
        &.hero-slide {
            background-size: 120%;
            background-position: 50% 20%;
        }
        .hero-content {
            p {
                display: none;
            }
            .circlenext {
                width: 240px;
                display: block;
                left: 50%;
                margin-left: -120px; 

                .next-circle {
                    top: 0;
                }
                i {
                    &:after {
                        position: absolute;
                        top: 29px;
                        right: 39px;
                        left: auto;
                    }
                }
                &:hover {
                    i {
                        &:after {
                            right: 23px;
                            top: 11px;
                            left: auto;
                        }
                    }
                }
                
            }
        }
    }
}

@media #{$large-up} {
    #heroSlide2,
    #heroSlide3 {
        background-size: cover;
    }
}

#heroSlide2 {
    background-image: url('../img/Apps.jpg');
    .hero-content {
        text-align: center;
        top: 74%;
    }
}
#heroSlide3 {
    background-image: url('../img/Brands.jpg');
    .hero-content {
        top: 60%;
    }
}
// #heroSlide4 {
//     background-image: url('http://25.media.tumblr.com/9686fc982ff99b8faf45290ce3220c55/tumblr_mnh121HEWa1st5lhmo1_1280.jpg');
// }
// #heroSlide5 {
//     background-image: url('http://25.media.tumblr.com/6a0e0096a48e542d7163e4213c493bcc/tumblr_mtavma9AKZ1st5lhmo1_1280.jpg');
// }

#heroLogo {
    font-size: 500px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#team-photos {
    //background-image: url('../img/team-photos.jpg');
    background-size: 100%;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding-top: 60px;

    .team-wrap {
        display: inline-block;
        width: 100%;
        position: relative;
    }
    @media (max-width: $screen-width-md) {
        display: none;
    }
}

#teamPhotoImg {
    display: inline-block;
    width: 100%;
}

#homepage-logos {
    .columns {
        text-align: center;
    }
    .logo {
        background-size: 100%;
    }

    .logo-slide {
        display: inline-block;
        text-align: center;

        img {
            width: 75%;
            margin: 0 auto;
        }

    }
}



#Home div.quote .quote-author {
    font-size: 18px;
    margin-top: 30px;
}

.blur {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-transition: filter 1s ease, -webkit-filter 1s ease;
    transition: filter 1s ease, -webkit-filter 1s ease;
}
.focus {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transition: filter 1s ease, -webkit-filter 1s ease;
    transition: filter 1s ease, -webkit-filter 1s ease;
}

@media (max-width: $screen-width-sm) {
    #landingHero {
        .hero-slide {
            h2 {
                text-align: center;
            }
        }
        .hero-content {
            position: absolute;
            bottom: 70px;
            top: auto;
            width: 310px;
            left: 50%;
            margin-left: -160px;
            p {
                padding: 0 10px;
            }
        }
    }

    #heroSlide2.hero-slide {
        background-size: 180%;
        background-position: 54% -84px;
        background-color: #D0D2D1;
        background-repeat: no-repeat;

        .hero-content {
            bottom: 46px;
        }
    }
    #heroSlide3.hero-slide {
        background-size: 200%;
        background-position: 50% -80px;
    }
}
#team-photos {
    position: relative;
}
#egg {
    display: block;
    width: 30px;
    height: 11px;
    position: absolute;
    right: 90px;
    bottom: 24px;
    border-radius: 50%;
}