---
title: 'Case Study: Ardusat'
name: 'Ardusat'
img: '/assets/img/casestudies/ardusat/'
theme: light
recs-id: <%= csrecs.ardusat %>
---

<main class="case-study" role="main" id="ardusat-case-study">

</main>

{{> scripts-default }}
