---
title: 'Case Study: Run It Once Card Deck'
name: 'Run It Once Card Deck'
img: '/assets/img/casestudies/runitonce/'
theme: light
recs-id: <%= csrecs.runitonce %>
---

<main class="case-study" role="main" id="runitonce-case-study">

</main>

{{> scripts-default }}
