---
title: 'Traxion App Case Study'
img: '/assets/img/casestudies/traxion/'
recs-id: <%= csrecs.traxion %>
---
<main class="case-study" role="main">
    <div id="traxion-hero" class="full-height top-hero">
        <div class="color-overlay">&nbsp;</div>
        <div class="row">
            <div class="medium-8 columns case-title">
                <h1 class="h2">Traxion</h1>
                <h2 class="h6">iPhone App Design </h2>
            </div>
        </div>
    </div>
    <div class="caption offwhite padding-xl">
        <div class="row">
            <div class="medium-6 columns">
                <h3>The Challenge</h3>
                <p>Traxion is an iPhone app used to help young adults manage their ADHD.  This app combines several app functions into one so that ADHD can be managed in one centralized location.  Submitted to the Health 2.0 conference in 2013 we were given a quick and challenging deadline we were more than happy to take on. 
                </p>
            </div>
            <div class="medium-6 columns">
                <h3>The Solution</h3>
                <p>We started design by color coding the sections of the app to help categorize and organize the information being used in the app.  Utilizing data about ADHD we designed the app for what individuals with ADHD need to succeed.  Finally we animated several key aspects of the app to instill some playfulness in the various sections.
                </p>
            </div>
        </div>
    </div>
    <div id="traxion-award" class="caption white padding-xl">
        <div class="row">
            <div id="traxionAward" class="medium-4 medium-offset-4 text-center"></div>
        </div>
    </div>
    <div id="traxion-slides" class="fixed-slider">
        <div id="traxion-sketch" data-view="1">
        </div>
        <div id="traxion-wire" data-view="2">
        </div>
        <div id="traxion-final" data-view="3">
        </div>
    </div>
    <div class="padding-xl" id="traxion-lifestyle">
        <div class="row">
            <div class="medium columns">
                <h3>App UI</h3>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns padding-md" >
                <img src="{{img}}traxion-lifestyle.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="padding-lg" id="traxion-anim">
        <div class="row">
            <h3 class="medium-12 columns">
                App Animations
            </h3>
        </div>
        <div class="row text-center">
            <div id="traxion-screen-1">
                <div class="screen">
                    <img src="{{img}}chart@2x.gif" alt="">
                </div>
            </div>
            <div id="traxion-screen-2">
                <div class="screen">
                    <img src="{{img}}percent@2x.gif" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="quote grad-down padding-md padding-bottom-120">
        <div class="row">
            <div class="medium-8 columns medium-offset-2">
                <p class="quote-text">
                    Underbelly was great to work with. They spun their team up quickly, and approached the project with a perfect mix of creative reflection and pragmatic commitment to our timeframes.
                </p>
            </div>
            <div class="quote-author">
                - Jeff Lee
            </div>
        </div>
    </div>
    {{> casestudies-bottom}}
</main>
{{> scripts-default }}
<script>
    jQuery(document).ready(function() { 
        if(window.isDesktop === true) {
            $(window).on('scroll', function(){
                //parallax('#fluid-hero .content-block', 0.6, 'up');
                bgParallax('#traxion-hero', 2, 'up');
                scrollDarken('#traxion-hero .color-overlay');
            });
        }

        //scrollto script for animations
        
    });
</script>