.traxion {
	.hero {
		@include hero("https://s3.amazonaws.com/underbelly/website/work/traxion/hero/01.jpg");
	}
	.case-study-info {
		background-color: color(light-gray-secondary);
	}
	.award {
		background-color: color(white);
		text-align: center;
		img { max-width: 385px; }
	}
	.lifestyle {
		background-color: color(white);
	}
	.animations {
		background-color: color(light-gray-primary);
		text-align: center;
		h1 { text-align: left; }
	}
}
.traxion-screen {
	display: inline-block;
	background-image: url("https://s3.amazonaws.com/underbelly/website/work/traxion/animation/blue-iphone.png");
	background-size: cover;
	width: 40%;
	height: 0;
	padding-bottom: 69%;
}
.screen-item {
	display: block;
	margin: 27.75% auto;
	height: 0;
	width: 59.5%;
	padding-bottom: 105.5%;
	background-color: #4da8c7;
}
