.hero-home {
	@include hero('../assets/img/home/hero-1.jpg');
	@include ghost(center);
	width: 100%;
	height: 100vh;
}
.what-we-do {
	max-width: 760px;
}
.category-title {
	@extend .hero-xs;
	opacity: 0;
	animation: fadeIn .4s forwards ease, dropDown .6s forwards ease;
	.category-item:nth-of-type(1) & {
		animation-delay: 2s;
	}
	.category-item:nth-of-type(2) & {
		animation-delay: 2.2s;
	}
	.category-item:nth-of-type(3) & {
		animation-delay: 2.4s;
	}
}
.hero-cta {
	@include cta(white, h1, center);
	margin-top: 75px;
	opacity: 0;
	animation: fadeIn .6s 2.2s forwards ease;
	span { vertical-align: middle; }
}
.mission {
	padding: 3.6325rem 2rem;
	p {
		font-size: fs(h4);
		text-align: center;
	}
	@media screen and (min-width: $medium) {
		padding: 5.625rem 1rem;
	}
}
.work-with-us {
	padding: 3rem 1rem;
	background-color: #4da8c7;
	text-align: center;
}
.work-with-us-cta {
	@include cta(white, h1, center);
	span{ vertical-align: middle; }
}