$rent-tree-primary: #e56e4e;

.rent-tree {
	.hero {
		@include hero("https://s3.amazonaws.com/underbelly/website/work/rent-tree/hero.jpg");
		.hero-lg, p { color: color(black); }
	}
	section {
		padding: 5.625rem 2rem;
	}
	.case-study-info {
		background: color(light-gray-primary);
		h1, p { color: color(black); }
		.copy:first-of-type {
			padding-bottom: 50px;
		}
		@media screen and (min-width: $small) {
			//padding-bottom: 0;
		}
	}
	.branding-exploration {
		background: url("https://s3.amazonaws.com/underbelly/website/work/rent-tree/branding/bg.jpg") no-repeat center center;
		background-size: cover;
		h1 { color: color(white); }
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.mark-exploration {
		background-color: color(light-gray-primary);
	}
	.lifestyle {
		background-color: color(white);
	}
	.website { background: $rent-tree-primary; text-align: center; }
}
